@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
        
body {
    font-family: 'Inter', sans-serif; /* Apply Inter font to the body */
}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1440px;
    height: 80px;
    background: rgb(255, 255, 255);
    z-index: 100;
    margin-bottom: 20px;
}

.nav-logo img {
    width: 148px;
    height: 50px;
}
.nav-menu ul {
    display: flex;
    list-style-type: none;
    align-items: center; /* Align items vertically */
}

.nav-menu ul li {
    margin: 0 20px;
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-bottom: 15px;
}

.link:hover,
.active {
    border-bottom: 2px solid #000;
}

.nav-button .btn {
    /* height: 40px; Adjust height to match other items */
    padding: 5px 25px; /* Add padding to the button */
    display: flex; /* Display button as a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(241, 201, 40);
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease;
    font-size: 15px;
    width: 110px;
    height: 33px;
}
.btn a{
    color: rgb(241, 201, 40);
    text-decoration: none;
}
.btn:hover {
    background: rgba(255, 255, 255, 0.7);
}

.section1 {
    background-size: cover;
    background-position: center;
    width: 1440px;
    height: 850px;
}
.welcome {
    font-size: 45px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    width: 780px;
    padding: 235px 20px 15px 150px;
    text-align: left;
}
.mission{
    font-size: 18px;
    font-weight: normal; 
    color: rgb(255, 255, 255);
    width: 800px;
    padding: 0 20px 15px 150px;
    text-align: left;
    line-height: 1.4;
}
.get-started button{
    margin-top: 5px;
    background-color: rgb(241, 201, 40);
    font-weight: 500;
    padding: 10px 20px; /* Add padding to the button */
    border: 2px solid rgb(241, 201, 40);
    border-radius: 8px;
    font-weight: 600;
    font-size: 22px;
    width: 202px;
    height: 60px;
}
.get-started{
    padding: 0 20px 15px 150px;
}
.about-heading{
    margin: 0;
    padding: 90px 20px 30px 150px;
    color: rgb(46, 153, 0);
    width: 1440px;
    font-size: 45px;
    font-weight: bold;
}
.about-content{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-bottom: 70px;
    padding: 0 20px 15px 150px;
}
.about-image img{
    width: 472px;
    height: 506px;
    border-radius: 20px;
}
.about-para h3{
    margin-bottom: 45px;
    padding-right: 70px;
    font-size: 32px;
    font-weight: bold;
}
.about-para-one{
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
    padding-right: 70px;
    line-height: 1.4;
}
.about-para-two{
    margin-bottom: 90px;
    font-size: 18px;
    font-weight: normal;
    padding-right: 70px;
    line-height: 1.4;
}
.learn-more{
    margin-top: 5px;
    background-color: rgb(241, 201, 40);
    font-weight: 500;
    padding: 10px 20px; /* Add padding to the button */
    border: 2px solid rgb(241, 201, 40);
    border-radius: 8px;
    font-weight: 600;
    font-size: 22px;
    width: 202px;
    height: 60px;
}
hr{
    width: 1440px;
    border-color:  rgb(46, 153, 0);
    margin-top: 20px;
    
}
.section-offer{
    padding: 0 20px 30px 150px;
}
.offer-head{
    text-align: center;
    color: rgb(46, 153, 0);
    font-size: 45px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 20px;
}
.offer-para{
    font-size: 18.5px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5;
}
.offer-image-container{
    display: flex;
    flex-direction: row;
    gap:25px;
    margin-bottom: 90px;
    
}
.offer-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 346.62px;
    height: 355.56px;
    border-radius: 9.93px;
    padding: 20px 0 0 20px;
    margin: 0;
}
.info-container p{
    width: 346.62px; 
    padding: 10px;
} 
.image-text{
    width: 373.43px;
    height: 539.39px;
    border-radius: 18.86px;
    border: 1px solid rgb(176, 176, 176);
    padding: 0;
    margin: 0;
}

/* .image-text img{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.info-head{
    font: 20.75px;
    font-weight: 600;
}
.info{
    width: 346.62px;
    font:  50px;
    font-weight: normal;
}
.footer{
    background-color: rgb(25, 84, 0);
    width: 1440px;
    height: 334px;
    padding: 60px 20px 30px 150px;
}
.footer-content{
    display: flex;
    flex-direction: row;
    gap:120px; 
}
.logo-image{
    background-color: white; 
}
.logo-image-text{
    color: white;
    font: 18px;
    font-weight: normal;
    margin-top: 15px;
    line-height: 1.5;
}
.list h5{
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}
.the-list li{
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    color: white;
    line-height: 1.5;
}
